//colors
$color-primary: #0f0f0f;
$color-secondary: hsl(0, 0%, 12%);
$color-white: #fff;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-1: #666;
$color-grey-dark-2: #555;
$color-grey-dark-3: #1f1f1f;
$color-grey-dark-4: #444;
$color-grey-dark-5: #333;
$color-grey-dark-6: #222;

$color-white: #fff;
$color-black: #000;

//margin
$marginleft-sm: 1rem;
$marginleft-md: 3rem;
$marginleft-lg: 4rem;

$marginright-sm: 2rem;
$marginright-md: 3rem;
$marginright-lg: 4rem;

$margintop-lg: 4rem;
