*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px = 62.5%
}

body {
  background-color: $color-primary;
}

.container {
  margin-top: 4.9rem;

  display: grid;
  grid-template-columns: 17% 83%;
  grid-template-rows: minmax(5.6rem, min-content) max-content;
  // background-color: orangered;
  height: 100vh;

  @media (max-width: 80em) {
    .container {
      display: grid;
      grid-template-columns: min-content max-content;
    }
    .sidebar {
      // padding-left: 2rem;
      display: flex;
      flex-direction: column;
    }
  }
}
