.marginleft-sm {
  margin-left: 0.8rem;
}
.marginleft-md {
  margin-left: 3rem;
}
.marginleft-lg {
  margin-left: 4rem;
}

.marginright-sm {
  margin-right: 2rem;
}
.marginright-md {
  margin-right: 3rem;
}
.marginright-lg {
  margin-right: 4rem;
}
